:root {
    --greenyGreen: rgb(108,255,177);
    --notSoGreen: rgb(143,193,156);
    --maybeMauve: rgb(179,130,136);
    --maybeDarkerMauve: rgb(214,68,115);
    --aBrightPink: rgb(249,5,93);
}

body {
    background-color: var(--greenyGreen);
}

header {
    display: flex;
    padding: 10px;
    /* justify-content: space-evenly; */
}

header * {
    /* padding: 10px; */
    flex-direction: row;
}

canvas {
    border: 1px solid black;
}

.palette {
    display: flex;
    flex-wrap: wrap;
}

.palette>div {
    border-style: inset;
    width: 10px;
    height: 10px;
}

.palette>div:focus {
    background-color: blue;
}