canvas {
    border: 1px solid black;
}

.palette {
    display: flex;
    flex-wrap: wrap;


}

.palette>div {
    border-style: inset;
    width: 10px;
    height: 10px;
}

.palette>div:focus {
    background-color: blue;
}